body{
    margin: 0;
}

.links{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    gap: 16px;
    list-style-type: none;
}

header{
    background-color: #1f2937;
    padding: 0px 180px;
}

.header-intro{
    display: flex;
    padding: 95px 0px;
}

.header-intro > div{
    flex:1
}

.header-intro > div > h1{
    font-size: 48px;
    font-weight: 800;
    color:  #F9FAF8; 
}

.Random_Info_container{
    display: flex;
}

button{
    background-color: #3882F6;
    border:0;
    border-radius: 10%;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.Random_Info > h1{
    display: flex;
    justify-content: center;
}

.Random_Info{
    padding:20px 180px 60px 180px;
}

.Rand_img{
    width: 200px;
    height: 200px;
}

.quote{
    padding: 20px 180px 60px 180px;
    background-color: #E5E7EB;
}

.content{
    font-size: 36px;
    color: #1f2937;
}

.author{
    display: flex;
    justify-content: right;
    font-weight: 800;
}

.CTA{
    padding:20px 180px 60px 180px;
}

.CTA_container{
    background-color: #3882F6;
    display: flex;
    padding: 20px 60px;
    justify-content: center;
    align-items: center;
}

.CTA_info{
    flex: 1;
    color: #E5E7EB;
}

.CTA_button{
    color: #F9FAF8;
    border: #F9FAF8 solid 1px;
    padding: 4px 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 20px 0px;
}



